<!DOCTYPE html>
<html>
<head>
    <title>Risultati della Ricerca</title>
    <style>
        /* Stili CSS per la tabella (opzionale) */
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Risultati della Ricerca</h1>

    <p>Testo di ricerca: {{ search_query }}</p>
    <p>Filtro applicato: {{ filter_value }}</p>

    <table>
        <thead>
            <tr>
                {% for key in risultati[0].keys() %}
                    <th>{{ key }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for record in risultati %}
                <tr>
                    {% for key, value in record.items() %}
                            <td>{{ value if value != '' else '-' }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
    
    
</body>
</html>